@{
    ViewData["Title"] = "Principal";
}

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Bienvenido a CLINICA KERO</h1>
    <p>Por favor ingrese su DNI</p>
</div>

<form asp-controller="Home" asp-action="ConfirmarDni" method="post" class="text-center">

    <input class="text-center" id="TextoDni" name="dni" type="text"
           style="height:80px; font-size:24px; margin:5px;" />

    <div class="container-fluid p-5 bg-primary text-white text-center">
        <input type="button" value="0" class="btn btn-light btn-lg" onclick="agregarNumero('0')" /> <br />
        <input type="button" value="1" class="btn btn-light btn-lg" onclick="agregarNumero('1')" />
        <input type="button" value="2" class="btn btn-light btn-lg" onclick="agregarNumero('2')" />
        <input type="button" value="3" class="btn btn-light btn-lg" onclick="agregarNumero('3')" /><br />
        <input type="button" value="4" class="btn btn-light btn-lg" onclick="agregarNumero('4')" />
        <input type="button" value="5" class="btn btn-light btn-lg" onclick="agregarNumero('5')" />
        <input type="button" value="6" class="btn btn-light btn-lg" onclick="agregarNumero('6')" /><br />
        <input type="button" value="7" class="btn btn-light btn-lg" onclick="agregarNumero('7')" />
        <input type="button" value="8" class="btn btn-light btn-lg" onclick="agregarNumero('8')" />
        <input type="button" value="9" class="btn btn-light btn-lg" onclick="agregarNumero('9')" />
    </div>

    <div class="text-center">
        <input type="submit" value="CONFIRMAR" class="btn btn-success btn-lg" style="margin:5px;" />
        <input type="button" value="BORRAR" class="btn btn-danger btn-lg" style="margin:5px;" onclick="borrarNumero()" />
    </div>

</form>

<!--Mostrar mensaje del servidor-->


@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-@ViewBag.Tipo text-center mt-3" role="alert">
        @ViewBag.Mensaje
    </div>
}

<!--Script para acciones del teclado-->
<script>

    function agregarNumero(num) {
        const input = document.getElementById('TextoDni');
        input.value += num; // agrega el número al final del texto actual
    }

    function borrarNumero() {
    const input = document.getElementById('TextoDni');
    input.value = input.value.slice(0, -1); // elimina el último carácter
    }

</script>
