@{
    ViewData["Title"] = "Turno asignado";
}

<div class="container text-center mt-5">

     <h2 class="text-success">Turno asignado:</h2>
        <h1 class="display-3 text-primary fw-bold">@ViewBag.CodigoTurno</h1>

        @if (ViewBag.TieneDiscapacidad)
        {
            <p class="mt-3 text-info">Turno Especial por discapacidad</p>
        }
        else if (ViewBag.EsPrioritario)
        {
            <p class="mt-3 text-warning">Turno prioritario (embarazada o adulto mayor)</p>
        } 
        else
        {
          <p class="mt-3 text-muted">Turno de atención general</p>
        }

        <p class="mt-3 text-muted">Por favor, espere a ser llamado.</p>


    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-lg">Volver al inicio</a>
    </div>



</div>